@import'../dashboard/dashboard.component.css';
::ng-deep .toast-container .ngx-toastr {
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    padding: 12px 16px;
    background-color: #ffffff !important; /* White background */
    color: #2E7D32 !important; /* Dark text for better visibility */
  }
  
  /* Green Success Toast */
  ::ng-deep .toast-success {
    border-left: 6px solid #2E7D32 !important; /* Green Border */
    color: #2E7D32 !important; /* Green Text */
  }
  
  /* Blue Info Toast */
  ::ng-deep .toast-info {
    border-left: 6px solid #1565C0 !important; /* Blue Border */
    color: #1565C0 !important; /* Blue Text */
  }
  
  /* Orange Warning Toast */
  ::ng-deep .toast-warning {
    border-left: 6px solid #EF6C00 !important; /* Orange Border */
    color: #EF6C00 !important; /* Orange Text */
  }
  
  /* Red Error Toast */
  ::ng-deep .toast-error {
    border-left: 6px solid #D32F2F !important; /* Red Border */
    color: #D32F2F !important; /* Red Text */
  }
  
  /* Title Styling */
  ::ng-deep .toast-title {
    font-weight: bold;
  }
  
  /* Message Styling */
  ::ng-deep .toast-message {
    font-size: 14px;
  }
  
  /* Progress Bar Custom Color */
  ::ng-deep .toast-progress {
    background-color: #2b9231 !important; /* Green Progress Bar */
  }
  