<app-header-navbar></app-header-navbar>
<div class="container-fluid dashboard-container">
  <div class="row">
    <div class="col-12 col-lg-2">
      <app-side-navbar></app-side-navbar>
    </div>
    <div class="col-12 col-lg-10">
      <div class="row">
        <div class="col-12 main-container">
          <div class="row big-option-container">
            <div class="desktop-option">
              <div class="col-12">
                <div class="row">
                  <div class="col-3">
                    <button mat-button class="menu-button">
                      <span>Fees > Reminder</span>
                    </button>
                  </div>
                  <div class="col-9" style="text-align: right;">
                    <div class="row">
                      <div class="col-2 offset-10">
                        <button class="submit-button" mat-raised-button
                          (click)="addStudentModel()"><mat-icon>add</mat-icon>Create</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mobile-option">
              <div class="col-12">
                <div class="row">
                  <div class="col-3">
                    <button mat-button class="menu-button">
                      <span>Fees > Reminder</span>
                    </button>
                  </div>
                  <div class="col-5 offset-4">
                    <button class="submit-button" mat-raised-button
                      (click)="addStudentModel()"><mat-icon>add</mat-icon>Create</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="main-container">
          <div class="col-12 col-lg-12 big-container">
            <div class="main-card">
              <div class="table-wrapper">
                <table class="table table-hover align-middle bg-white">
                  <thead class="bg-light">
                    <!-- <tr class="text-muted">
                      <th>S.No.</th>
                      <th>Fee Reminder</th>
                      <th>Student</th>
                      <th>Father Name</th>
                      <th>Mother Name</th>
                      <th>Class</th>
                      <th>Stream</th>
                      <th>Roll Number</th>
                      <th>Session</th>
                      <th>Admission By</th>
                      <th>Admission Letter</th>
                    </tr> -->
                  </thead>
                </table>
              </div>
              <div class="modal fade show" [class.show]="showModal">
                <div class="modal-dialog modal-dialog-scrollable" [class.modal-lg]="true">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">SEND FEE REMINDER</h5>
                      <mat-icon matRipple (click)="closeModal()">close</mat-icon>
                    </div>
                    <form [formGroup]="feeReminderForm" (ngSubmit)="studentAddUpdate()">
                      <div class="modal-body">
                        <div class="container">
                          <div class="row">
                            <div class="col-12 col-lg-6">
                              <mat-form-field appearance="outline">
                                <mat-label>Class</mat-label>
                                <mat-select matInput formControlName="class">
                                  <div *ngFor="let classInfo of classInfo">
                                    <mat-option value="{{classInfo.class}}"
                                      (click)="chooseClass(classInfo.class)">{{classInfo.class |
                                      classSuffix}}</mat-option>
                                  </div>
                                </mat-select>
                                <mat-error
                                  *ngIf="feeReminderForm.get('class')?.hasError('required') && feeReminderForm.get('class')?.touched">
                                  Class is required
                                </mat-error>
                                <mat-error
                                  *ngIf="feeReminderForm.get('class')?.hasError('pattern') && feeReminderForm.get('class')?.touched">
                                  Please enter a valid class (numeric characters only)
                                </mat-error>
                              </mat-form-field>
                            </div>
                            <div class="col-12 col-lg-6">
                              <mat-form-field appearance="outline">
                                <mat-label>Stream</mat-label>
                                <mat-select type="text" matInput formControlName="stream">
                                  <ng-container *ngIf="cls==12 || cls==11">
                                    <div *ngFor="let subject of streamMainSubject">
                                      <mat-option value="{{subject}}"
                                        (click)="chooseStream(subject)">{{subject}}</mat-option>
                                    </div>
                                  </ng-container>
                                  <ng-container *ngIf="cls<11 && cls!==0 || cls == 200 || cls==201 || cls==202">
                                    <div>
                                      <mat-option value="n/a">N/A</mat-option>
                                    </div>
                                  </ng-container>
                                </mat-select>
                                <mat-error
                                  *ngIf="feeReminderForm.get('stream')?.hasError('required') && feeReminderForm.get('stream')?.touched">
                                  Stream is required
                                </mat-error>
                                <mat-error
                                  *ngIf="feeReminderForm.get('stream')?.hasError('pattern') && feeReminderForm.get('stream')?.touched">
                                  Please enter a valid Stream (only letters are allowed)
                                </mat-error>
                              </mat-form-field>
                            </div>
                            <div class="col-12 col-lg-6">
                              <mat-form-field appearance="outline">
                                <mat-label>Minimum Percentage</mat-label>
                                <input matInput type="number" formControlName="minPercentage" class="no-arrow">
                                <mat-error
                                  *ngIf="feeReminderForm.get('minPercentage')?.hasError('required') && feeReminderForm.get('minPercentage')?.touched">
                                  Min percentage is required
                                </mat-error>
                                <mat-error
                                  *ngIf="feeReminderForm.get('minPercentage')?.hasError('pattern') && feeReminderForm.get('minPercentage')?.touched">
                                  Please enter a valid in min percentage (numeric characters only)
                                </mat-error>
                              </mat-form-field>
                            </div>
                            <div class="col-12 col-lg-6">
                              <mat-form-field appearance="outline">
                                <mat-label>Last Payment Days</mat-label>
                                <input matInput type="number" formControlName="lastPaymentDays" class="no-arrow">
                                <mat-error
                                  *ngIf="feeReminderForm.get('lastPaymentDays')?.hasError('required') && feeReminderForm.get('lastPaymentDays')?.touched">
                                  Last payment days is required
                                </mat-error>
                                <mat-error
                                  *ngIf="feeReminderForm.get('lastPaymentDays')?.hasError('pattern') && feeReminderForm.get('lastPaymentDays')?.touched">
                                  Please enter a valid Last payment days (numeric characters only)
                                </mat-error>
                              </mat-form-field>
                            </div>
                            <div class="col-12 col-lg-6">
                              <mat-form-field appearance="outline">
                                <mat-label>Last Reminder Days</mat-label>
                                <input matInput type="number" formControlName="lastReminderDays" class="no-arrow">
                                <mat-error
                                  *ngIf="feeReminderForm.get('lastReminderDays')?.hasError('required') && feeReminderForm.get('lastReminderDays')?.touched">
                                  Last reminder days is required
                                </mat-error>
                                <mat-error
                                  *ngIf="feeReminderForm.get('lastReminderDays')?.hasError('pattern') && feeReminderForm.get('lastReminderDays')?.touched">
                                  Please enter a valid Last reminder days (numeric characters only)
                                </mat-error>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="modal-footer">
                        <button class="submit-button" mat-raised-button type="submit"
                          [disabled]="!feeReminderForm.valid">Submit</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>



            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>