<app-header-navbar></app-header-navbar>
<div class="container-fluid dashboard-container">
  <div class="row">
    <div class="col-12 col-lg-2">
      <app-side-navbar></app-side-navbar>
    </div>
    <div class="col-12 col-lg-10">
      <div class="row">
        <div class="col-12 main-container">
          <div class="row big-option-container">
            <div class="desktop-option">
              <div class="col-12">
                <div class="row">
                  <div class="col-3">
                    <button mat-button class="menu-button">
                      <span>Marksheet > Template > Edit</span>
                    </button>
                  </div>
                  <div class="col-9" style="text-align: right;">
                    <div class="row">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mobile-option">
              <div class="col-12">
                <div class="row">
                  <div class="col-12">
                    <button mat-button class="menu-button">
                      <span>Marksheet > Template > Edit</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="main-container">
          <div class="col-12 col-lg-12 big-container">
            <div class="main-card" *ngIf="examStructure">
              <form [formGroup]="subjectPermissionForm" (ngSubmit)="subjectPermissionAdd()">
                <!-- Theory Subject -->
                <h3>Theory Subject</h3>
                <div class="row">
                  <div class="col-2" *ngFor="let subject of subjects">
                    <mat-checkbox [checked]="isSubjectSelected(subject)" (change)="theoryMarksToggle(subject, $event)">
                      {{ subject }}
                    </mat-checkbox>
                  </div>
                </div>
              
                <!--  Theory Max Marks -->
                <ng-container *ngIf="selectedSubjects.length > 0">
                  <h3>Theory Maximum Marks</h3>
                  <ng-container formGroupName="type">
                    <ng-container formArrayName="theoryMaxMarksPermission">
                      <div class="row">
                        <div class="col-4 col-lg-2" *ngFor="let control of getTheoryMaxMarksArray().controls; let i = index" [formGroupName]="i">
                          <mat-form-field appearance="outline">
                            <mat-label>{{ control.value.subject }}</mat-label>
                            <input matInput type="number" formControlName="value" placeholder="Enter Marks">
                            <mat-error *ngIf="control.get('value')?.hasError('required')">
                              Maximum marks are required.
                            </mat-error>
                            <mat-error *ngIf="control.get('value')?.hasError('min')">
                              Marks should be at least 0.
                            </mat-error>
                            <mat-error *ngIf="control.get('value')?.hasError('max')">
                              Marks cannot exceed 100.
                            </mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>
              
                  <!--  Theory Pass Marks -->
                  <h3>Theory Passing Marks</h3>
                  <ng-container formGroupName="type">
                    <ng-container formArrayName="theoryPassMarksPermission">
                      <div class="row">
                        <div class="col-4 col-lg-2" *ngFor="let control of getTheoryPassMarksArray().controls; let i = index" [formGroupName]="i">
                          <mat-form-field appearance="outline">
                            <mat-label>{{ control.value.subject }}</mat-label>
                            <input matInput type="number" formControlName="value" placeholder="Enter Marks">
                            <mat-error *ngIf="control.get('value')?.hasError('required')">
                              Passing marks are required.
                            </mat-error>
                            <mat-error *ngIf="control.get('value')?.hasError('min')">
                              Marks should be at least 0.
                            </mat-error>
                            <mat-error *ngIf="control.get('value')?.hasError('max')">
                              Marks cannot exceed 100.
                            </mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>
                </ng-container>
              
                <!--  Submit Button -->
                <div class="modal-footer">
                  <button mat-raised-button type="submit" color="primary">Submit</button>
                </div>
              </form>
              
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>