<app-header></app-header>
<div class="home">
    <div class="banner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-7">
                    <div class="row banner-content">
                        <h3>
                            <span>Smart School Management Just  &#8377;
                                {{plansInfo[0]?.price}}</span>
                        </h3>
                        <h2>School Management with Our User Friendly Online Solution</h2>
                        <p>
                            Transform your school's management with our easy to use online software. Get powerful
                            features and unmatched value at a lower price than any other software in the market.
                            Simplify tasks and save money, allowing you to focus more on teaching and student success
                        </p>
                        <div class="col-6 col-sm-5 col-md-6  col-lg-6">
                            <button class="submit-button" mat-raised-button>Live Demo</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-5 img-section">
                    <div class="row img-section-row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12"
                            *ngFor="let videoUrl of youtubeVideoSafeUrls; let i = index">
                            <div class="video-container" (click)="redirectUser(youtubeVideoUrls[i])">
                                <img [src]="thumbnailUrls[i]" alt="Thumbnail Image" class="thumbnail-image">
                                <iframe [src]="videoUrl" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="container why-choose-us-section">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-5 title">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <h3>Why Choose Us ?</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-10">
                        <p>Choose our online school management software for its unbeatable value
                            and efficiency. It offers all the essential features at a lower price than other options in
                            the market. With our software, you get powerful tools that make managing your school easier
                            and more affordable
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-7">
                <div class="row schooliya-chart">
                    <div class="col-4 col-sm-3 col-md-3 col-lg-3"><img src="../../../../assets/logo.png" alt="">
                    </div>
                    <div class="col-3 col-sm-3 col-md-3 col-lg-2">
                        <div class="schooliya">
                        </div>
                    </div>
                    <div class="col-4 col-sm-4 col-md-4 col-lg-2">
                        <p>&#8377;{{plansInfo[0]?.price}}/Year</p>
                    </div>
                    <div class="col-1 col-sm-0 col-md-0 col-lg-0">
                    </div>
                </div>
                <div class="row others-chart">
                    <div class="col-4 col-sm-3 col-md-3 col-lg-3">
                        <div class="row">
                            <div class="col-12">
                                <p><span>Other Software</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 col-sm-6 col-md-6 col-lg-7">
                        <div class="others">
                        </div>
                    </div>
                    <div class="col-3 col-sm-3 col-md-3 col-lg-2" style="padding-left: 0 !important;">
                        <p>&#8377;12000/Year</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid" style="padding: 0 !important;">
        <div class="container-fluid pricing-section">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row title">
                        <h2>Pick Your Perfect Plan</h2>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 card-container">
                            <div class="pricing-card">
                                <div class="pricing-title">
                                    <h2>{{plansInfo[0]?.plans}}</h2>
                                    <p>Everything You Need to Launch Your School Management</p>
                                </div>
                                <h4><span style="font-size: 22px;font-weight: 500;">&#8377;</span>
                                    {{plansInfo[0]?.price}}<span style="font-size: medium;font-weight: 500;"> /
                                        Yearly</span></h4>
                                <button class="pricing-button-light" mat-raised-button
                                    routerLink="/admin/payment/{{plansInfo[0]?._id}}">Buy Now</button>
                                <div class="pricing-amount">
                                    <p>₹ {{plansInfo[0]?.price}}/year when you renew</p>
                                </div>
                                <mat-divider></mat-divider>
                                <div class="pricing-feature">
                                    <div class="row module-access">
                                        <p>Student Limit<span>&nbsp;&nbsp;&nbsp;(Upto 250)</span></p>
                                        <p>Data Entry<span>&nbsp;&nbsp;&nbsp;&nbsp;Free For First Entry</span></p>
                                        <p>Staff Uses Access<span>&nbsp;&nbsp;&nbsp;Yes</span></p>
                                    </div>
                                    <div class="row module-list">
                                        <div class="col-10 offset-1">
                                            <p><span>Increase Limit After Purchase ₹5 Per Student</span></p>
                                        </div>
                                        <div class="col-2"><mat-icon class="done">done</mat-icon>
                                        </div>
                                        <div class="col-10">
                                            <p><span>Student Management</span></p>
                                        </div>
                                        <div class="col-2"><mat-icon class="done">done</mat-icon></div>
                                        <div class="col-10">
                                            <p><span>Admission Management</span></p>
                                        </div>
                                        <div class="col-2"><mat-icon class="done">done</mat-icon></div>
                                        <div class="col-10">
                                            <p><span>Fees Management</span></p>
                                        </div>
                                        <div class="col-2"><mat-icon class="done">done</mat-icon></div>
                                        <div class="col-10">
                                            <p><span>Admit Card Management</span></p>
                                        </div>
                                        <div class="col-2"><mat-icon class="done">done</mat-icon></div>
                                        <div class="col-10">
                                            <p><span>Marksheet Management</span></p>
                                        </div>
                                        <div class="col-2"><mat-icon class="done">done</mat-icon></div>
                                        <div class="col-10">
                                            <p><span>T C Management</span></p>
                                        </div>
                                        <div class="col-2"><mat-icon class="done">done</mat-icon></div>
                                        <div class="col-10">
                                            <p><span>Subject Management</span></p>
                                        </div>
                                        <div class="col-2"><mat-icon class="done">done</mat-icon></div>
                                        <div class="col-10">
                                            <p><span>Class Subjects Group Management</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 card-container">
                            <div class="pricing-card border">
                                <div class="pricing-title">
                                    <h2>{{plansInfo[1]?.plans}}</h2>
                                    <p>Level-up with more listing and enhanced features</p>
                                </div>
                                <h4><span style="font-size: 22px;font-weight: 500;">&#8377;</span>
                                    {{plansInfo[1]?.price}}<span style="font-size: medium;font-weight: 500;"> /
                                        Yearly</span></h4>
                                <button class="pricing-button" mat-raised-button
                                    routerLink="/admin/payment/{{plansInfo[1]?._id}}">Buy Now</button>
                                <div class="pricing-amount">
                                    <p>₹ {{plansInfo[1]?.price}}/year when you renew</p>
                                </div>
                                <mat-divider></mat-divider>
                                <div class="pricing-feature">
                                    <div class="row module-access">
                                        <p>Student Limit<span>&nbsp;&nbsp;&nbsp;(Upto 750)</span></p>
                                        <p>Data Entry<span>&nbsp;&nbsp;&nbsp;&nbsp;Free For First Entry</span></p>
                                        <p>Staff Uses Access<span>&nbsp;&nbsp;&nbsp;Yes</span></p>
                                    </div>
                                    <div class="row module-list">
                                        <div class="col-10 offset-1">
                                            <p><span>Increase Limit After Purchase ₹5 Per Student</span></p>
                                        </div>
                                        <div class="col-2"><mat-icon class="done">done</mat-icon></div>
                                        <div class="col-10">
                                            <p><span>Student Management</span></p>
                                        </div>

                                        <div class="col-2"><mat-icon class="done">done</mat-icon></div>
                                        <div class="col-10">
                                            <p><span>Admission Management</span></p>
                                        </div>
                                        <div class="col-2"><mat-icon class="done">done</mat-icon></div>
                                        <div class="col-10">
                                            <p><span>Fees Management</span></p>
                                        </div>
                                        <div class="col-2"><mat-icon class="done">done</mat-icon></div>
                                        <div class="col-10">
                                            <p><span>Admit Card Management</span></p>
                                        </div>
                                        <div class="col-2"><mat-icon class="done">done</mat-icon></div>
                                        <div class="col-10">
                                            <p><span>Marksheet Management</span></p>
                                        </div>
                                        <div class="col-2"><mat-icon class="done">done</mat-icon></div>
                                        <div class="col-10">
                                            <p><span>T C Management</span></p>
                                        </div>
                                        <div class="col-2"><mat-icon class="done">done</mat-icon></div>
                                        <div class="col-10">
                                            <p><span>Subject Management</span></p>
                                        </div>
                                        <div class="col-2"><mat-icon class="done">done</mat-icon></div>
                                        <div class="col-10">
                                            <p><span>Class Subjects Group Management</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 offset-sm-3 col-md-6 offset-md-3 col-lg-4 offset-lg-0 card-container">
                            <div class="pricing-card">
                                <div class="pricing-title">
                                    <h2>{{plansInfo[2]?.plans}}</h2>
                                    <p>Enjoy Your Extensive Features and Higher Listing Limits</p>
                                </div>
                                <h4><span style="font-size: 22px;font-weight: 500;">&#8377;</span>
                                    {{plansInfo[2]?.price}}<span style="font-size: medium;font-weight: 500;"> /
                                        Yearly</span></h4>
                                <button class="pricing-button-light" mat-raised-button
                                    routerLink="/admin/payment/{{plansInfo[2]?._id}}">Buy Now</button>
                                <div class="pricing-amount">
                                    <p>₹ {{plansInfo[2]?.price}}/year when you renew</p>
                                </div>
                                <mat-divider></mat-divider>
                                <div class="pricing-feature">
                                    <div class="row module-access">
                                        <p>Student Limit<span>&nbsp;&nbsp;&nbsp;Unlimited</span></p>
                                        <p>Data Entry<span>&nbsp;&nbsp;&nbsp;&nbsp;Free For First Entry</span></p>
                                        <p>Staff Uses Access<span>&nbsp;&nbsp;&nbsp;Yes</span></p>
                                    </div>
                                    <div class="row module-list">
                                        <div class="col-10 offset-1">
                                            <p><span>Increase Limit After Purchase ₹5 Per Student</span></p>
                                        </div>
                                        <div class="col-2"><mat-icon class="done">done</mat-icon></div>
                                        <div class="col-10">
                                            <p><span>Student Management</span></p>
                                        </div>
                                        <div class="col-2"><mat-icon class="done">done</mat-icon></div>
                                        <div class="col-10">
                                            <p><span>Admission Management</span></p>
                                        </div>
                                        <div class="col-2"><mat-icon class="done">done</mat-icon></div>
                                        <div class="col-10">
                                            <p><span>Fees Management</span></p>
                                        </div>
                                        <div class="col-2"><mat-icon class="done">done</mat-icon></div>
                                        <div class="col-10">
                                            <p><span>Admit Card Management</span></p>
                                        </div>
                                        <div class="col-2"><mat-icon class="done">done</mat-icon></div>
                                        <div class="col-10">
                                            <p><span>Marksheet Management</span></p>
                                        </div>
                                        <div class="col-2"><mat-icon class="done">done</mat-icon></div>
                                        <div class="col-10">
                                            <p><span>T C Management</span></p>
                                        </div>
                                        <div class="col-2"><mat-icon class="done">done</mat-icon></div>
                                        <div class="col-10">
                                            <p><span>Subject Management</span></p>
                                        </div>
                                        <div class="col-2"><mat-icon class="done">done</mat-icon></div>
                                        <div class="col-10">
                                            <p><span>Class Subjects Group Management</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid service-section">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-12">
                        <div class="title">
                            <h2>Experience The Most Useful Features</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                        <div class="service-card">
                            <div class="row">
                                <div class="col-1 col-sm-2 col-md-2 col-lg-2"><img
                                        src="../../../../assets/features-image/student.png" alt="">
                                </div>
                                <div class="col-11 col-sm-10 col-md-10 col-lg-10">
                                    <h3>Student Management</h3>
                                </div>
                            </div>
                            <p>Streamline student management with our simple and effective modules</p>

                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                        <div class="service-card">
                            <div class="row">
                                <div class="col-1 col-sm-2 col-md-2 col-lg-2"><img
                                        src="../../../../assets/features-image/admission.png" alt="">
                                </div>
                                <div class="col-11 col-sm-10 col-md-10 col-lg-10">
                                    <h3>Admission Management</h3>
                                </div>
                            </div>
                            <p>Simplify your admissions with our intuitive and efficient tools</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                        <div class="service-card">
                            <div class="row">
                                <div class="col-1 col-sm-2 col-md-2 col-lg-2"><img
                                        src="../../../../assets/features-image/fees.png" alt="">
                                </div>
                                <div class="col-11 col-sm-10 col-md-10 col-lg-10">
                                    <h3>Fees Management</h3>
                                </div>
                            </div>
                            <p>Easily manage and track fees with our user-friendly modules</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                        <div class="service-card">
                            <div class="row">
                                <div class="col-1 col-sm-2 col-md-2 col-lg-2"><img
                                        src="../../../../assets/features-image/admit-card.png" alt="">
                                </div>
                                <div class="col-11 col-sm-10 col-md-10 col-lg-10">
                                    <h3>Admit Card Management</h3>
                                </div>
                            </div>
                            <p>Generate admit cards easily with our management solutions
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                        <div class="service-card">
                            <div class="row">
                                <div class="col-1 col-sm-2 col-md-2 col-lg-2"><img
                                        src="../../../../assets/features-image/marksheet.png" alt="">
                                </div>
                                <div class="col-11 col-sm-10 col-md-10 col-lg-10">
                                    <h3>Marksheet Management</h3>
                                </div>
                            </div>
                            <p>Manage and generate marksheets with just a click using our easy-to-use modules
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                        <div class="service-card">
                            <div class="row">
                                <div class="col-1 col-sm-2 col-md-2 col-lg-2"><img
                                        src="../../../../assets/features-image/tc.png" alt="">
                                </div>
                                <div class="col-11 col-sm-10 col-md-10 col-lg-10">
                                    <h3>T C Management</h3>
                                </div>
                            </div>
                            <p>Easily manage and issue T C or transfer certificates with just a click using
                                our simplify modules</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                        <div class="service-card">
                            <div class="row">
                                <div class="col-1 col-sm-2 col-md-2 col-lg-2"><img
                                        src="../../../../assets/features-image/book.png" alt="">
                                </div>
                                <div class="col-11 col-sm-10 col-md-10 col-lg-10">
                                    <h3>Subject Management</h3>
                                </div>
                            </div>
                            <p>Simplify subject management and planning with intuitive modules
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                        <div class="service-card">
                            <div class="row">
                                <div class="col-1 col-sm-2 col-md-2 col-lg-2"><img
                                        src="../../../../assets/features-image/books-group.png" alt="">
                                </div>
                                <div class="col-11 col-sm-10 col-md-10 col-lg-10">
                                    <h3>Class Subject Management</h3>
                                </div>
                            </div>
                            <p>Organize class subject groups with ease using our straight-forward tools</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                        <div class="service-card">
                            <div class="row">
                                <div class="col-1 col-sm-2 col-md-2 col-lg-2"><img
                                        src="../../../../assets/features-image/staff-access.png" alt="">
                                </div>
                                <div class="col-11 col-sm-10 col-md-10 col-lg-10">
                                    <h3>Saff Access Management</h3>
                                </div>
                            </div>
                            <p>Manage staff application access efficiently using our simple solutions</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</div>

<div class="spinner-container" *ngIf="loader">
    <div class="spinner-overlay" *ngIf="loader">
        <mat-progress-spinner *ngIf="loader" diameter="65" mode="indeterminate" strokeWidth="3"></mat-progress-spinner>
    </div>
</div>