<app-header-navbar></app-header-navbar>
<div class="container-fluid dashboard-container">
    <div class="row">
        <div class="col-12 col-lg-2">
            <app-side-navbar></app-side-navbar>
        </div>
        <div class="col-12 col-lg-10">
            <div class="row">
                <div class="col-12 main-container">
                    <div class="row">
                        <div class="col-3" style="text-align: left;">
                            <button mat-button class="menu-button">
                                <mat-icon>assistant_navigation</mat-icon>
                                <span>Admit Card's > Structure</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="main-container">
                    <div class="col-12 col-lg-12 big-container">
                        <div class="main-card">
                                <table class="table align-middle mt-2 mb-1 bg-white">
                                    <thead class="bg-light">
                                        <tr class="text-muted">
                                            <th>S.No.</th>
                                            <th>Exam</th>
                                            <th>Class</th>
                                            <th>Stream</th>
                                            <th>Admit Card Structure</th>
                                            <!-- <th>Result Publish</th> -->
                                            <th>Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="examAdmitCard">
                                        <tr>
                                            <td>
                                                <p class="mb-0">{{1}}</p>
                                            </td>
                                            <td>
                                                <p class="mb-0">{{examAdmitCard.examType | titlecase}}</p>
                                            </td>
                                            <td>
                                                <p class="mb-0">{{examAdmitCard.class | classSuffix}}</p>
                                            </td>
                                            <td>
                                                <p class="mb-0" *ngIf="examAdmitCard.class>10">{{examAdmitCard.stream |
                                                    titlecase}}</p>
                                                <p class="mb-0" *ngIf="examAdmitCard.class<=10">N/A</p>
                                            </td>
                                            <td class="mb-0">
                                                <mat-icon
                                                    (click)="openAdmitCardStructureModal(examAdmitCard)">launch</mat-icon>
                                            </td>
                                            <!-- <td>
                                                <mat-slide-toggle [(ngModel)]="examAdmitCard.admitCardPublishStatus"
                                                    (change)="onToggleChange(examAdmitCard._id,examAdmitCard.admitCardPublishStatus)">
                                                </mat-slide-toggle>
                                            </td> -->
                                            <td class="mb-0">
                                                <mat-icon
                                                    (click)="deleteAdmitCardStructureModel(examAdmitCard._id)">delete</mat-icon>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                                <div *ngIf="examAdmitCard" style="text-align: center;margin-top: 200px;">
                                    <p>Note : Delete this admit card structure to generate the new admit card for another exam.</p>
                                </div>

                                <div class="modal fade show" [class.show]="showModal">
                                    <div class="modal-dialog modal-dialog-scrollable"
                                        [class.modal-lg]="!deleteMode && !successMsg">
                                        <div class="modal-content" *ngIf="successMsg">
                                            <div class="modal-header">
                                                <h5 class="modal-title" style="color: transparent;">&nbsp;</h5>
                                            </div>
                                            <div class="modal-body">
                                                <p class="success-message">{{successMsg}}</p>
                                            </div>
                                            <div class="modal-footer">
                                                <mat-icon></mat-icon>
                                            </div>
                                        </div>

                                        <div class="modal-content" *ngIf="!successMsg && classSubject">
                                            <div class="modal-header">
                                                <h5 class="modal-title">{{updateMode?'Update': deleteMode ? 'Delete'
                                                    :'Create'}} Admit Card Structure {{cls | classSuffix}} <span *ngIf="cls==12 || cls==11">{{stream}}</span></h5>
                                                <mat-icon *ngIf="deleteMode" matRipple (click)="closeModal()"
                                                    style="cursor: pointer;">close</mat-icon>
                                            </div>

                                            <form [formGroup]="admitcardForm" (ngSubmit)="admitcardAddUpdate()"
                                                *ngIf="classSubject">

                                                <div class="modal-body" *ngIf="!deleteMode">
                                                    <div *ngIf="errorCheck">
                                                        <p class="error-message">{{errorMsg}}</p>
                                                    </div>
                                                    <div class="container mt-3 mb-3" *ngIf="classSubject.length>0">
                                                        <div class="row">
                                                            <div class="col-12 col-lg-6">
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Stream</mat-label>
                                                                    <input matInput type="text" formControlName="stream"
                                                                        readonly>
                                                                </mat-form-field>
                                                            </div>
                                                            <div class="col-12 col-lg-6">
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Exam Type</mat-label>
                                                                    <input type="text" matInput
                                                                        formControlName="examType">
                                                                    <mat-error
                                                                        *ngIf="admitcardForm.get('examType')?.hasError('required') && admitcardForm.get('examType')?.touched">
                                                                        Address is required
                                                                    </mat-error>
                                                                    <mat-error
                                                                        *ngIf="admitcardForm.get('examType')?.hasError('minlength') && admitcardForm.get('examType')?.touched">
                                                                        Minimum 5 characters is required
                                                                    </mat-error>
                                                                    <mat-error
                                                                        *ngIf="admitcardForm.get('examType')?.hasError('maxlength') && admitcardForm.get('examType')?.touched">
                                                                        Maximum length exceeded (maximum 20 characters
                                                                        allowed)
                                                                    </mat-error>
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="scroll-content">
                                                        <div class="wide-content">
                                                            <div class="container">
                                                                <ng-container *ngIf="classSubject.length>0">
                                                                    <div class="row">
                                                                        <div class="col-3">
                                                                            <div
                                                                                *ngFor="let subjects of classSubject; let i = index">
                                                                                <a mat-raised-button
                                                                                    class="pt-2 pb-2 mb-4"
                                                                                    style="background-color: transparent;box-shadow: none;">{{subjects.subject}}</a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-3">
                                                                            <div formGroupName="type">
                                                                                <div formArrayName="examDate">
                                                                                    <div
                                                                                        *ngFor="let subjects of classSubject; let i = index">
                                                                                        <div [formGroupName]="i">
                                                                                            <mat-form-field
                                                                                                class="custom-date-input"
                                                                                                appearance="outline">
                                                                                                <mat-label>Exam
                                                                                                    Date</mat-label>
                                                                                                <input type="date"
                                                                                                    matInput
                                                                                                    [formControlName]="subjects.subject">
                                                                                            </mat-form-field>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-3">
                                                                            <div formGroupName="type">
                                                                                <div formArrayName="startTime">
                                                                                    <div
                                                                                        *ngFor="let subjects of classSubject; let i = index">
                                                                                        <div [formGroupName]="i">
                                                                                            <mat-form-field
                                                                                                appearance="outline">
                                                                                                <mat-label>Start
                                                                                                    Time</mat-label>
                                                                                                <mat-select type="text"
                                                                                                    matInput
                                                                                                    [formControlName]="subjects.subject">
                                                                                                    <div
                                                                                                        *ngFor="let subject of examTime">
                                                                                                        <mat-option
                                                                                                            value="{{subject}}">{{subject}}</mat-option>
                                                                                                    </div>
                                                                                                </mat-select>
                                                                                            </mat-form-field>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-3">
                                                                            <div formGroupName="type">
                                                                                <div formArrayName="endTime">
                                                                                    <div
                                                                                        *ngFor="let subjects of classSubject; let i = index">
                                                                                        <div [formGroupName]="i">
                                                                                            <mat-form-field
                                                                                                appearance="outline">
                                                                                                <mat-label>End
                                                                                                    Time</mat-label>
                                                                                                <mat-select type="text"
                                                                                                    matInput
                                                                                                    [formControlName]="subjects.subject">
                                                                                                    <div
                                                                                                        *ngFor="let subject of examTime">
                                                                                                        <mat-option
                                                                                                            value="{{subject}}">{{subject}}</mat-option>
                                                                                                    </div>
                                                                                                </mat-select>
                                                                                            </mat-form-field>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </ng-container>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <ng-container *ngIf="classSubject.length>0">
                                                        <h3 style="font-size: 16px;letter-spacing: normal;">Note : As
                                                            soon
                                                            as the admit card structure for the {{cls | classSuffix}}
                                                            class <span *ngIf="cls==12 || cls==11">{{stream}}</span>
                                                            is
                                                            created, the admit cards for all the students will be
                                                            automatically generated.</h3>
                                                    </ng-container>
                                                </div>
                                                <div class="modal-footer" *ngIf="!deleteMode && classSubject.length>0">
                                                    <button class="submit-button" mat-raised-button
                                                        [disabled]="!admitcardForm.valid" type="submit">Submit</button>
                                                </div>
                                                <div *ngIf="deleteMode">
                                                    <div class="modal-body">
                                                        <ng-container>
                                                            <h3 style="font-size: 16px;letter-spacing: normal;">Note :
                                                                As
                                                                soon as the admit card structure for the {{cls |
                                                                classSuffix}} class <span *ngIf="cls==12 || cls==11">{{stream}}</span> is
                                                                deleted, the admit cards for all the students will be
                                                                automatically deleted.</h3>
                                                        </ng-container>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="delete-button" mat-raised-button type="button"
                                                            (click)="admitCardStructureDelete(deleteById)">Ok</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade show" [class.show]="showAdmitCardStructureModal">
                                    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Class {{cls | classSuffix}}</h5>
                                                <mat-icon matRipple (click)="closeModal()">close</mat-icon>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="custom-container">
                                                        <div class="table-container">
                                                            <ng-container>
                                                                <h3>{{admitCardInfo?.examType | titlecase}} Admit
                                                                    Card
                                                                    <span *ngIf="cls==11 || cls==12">-
                                                                        {{admitCardInfo?.stream}}</span>
                                                                </h3>
                                                            </ng-container>
                                                            <table class="custom-table">
                                                                <tr>
                                                                    <th>S.No.</th>
                                                                    <th>Subject</th>
                                                                    <th>Exam Date</th>
                                                                    <th>Exam Timing</th>
                                                                </tr>
                                                                <ng-container
                                                                    *ngIf="processedData && processedData.length > 0">
                                                                    <tr
                                                                        *ngFor="let exam of processedData; let i = index">
                                                                        <td>
                                                                            {{ i + 1 }}
                                                                        </td>
                                                                        <td>
                                                                            {{ exam.subject | titlecase}}
                                                                        </td>
                                                                        <td>
                                                                            {{ exam.date }}
                                                                        </td>
                                                                        <td>
                                                                            {{ exam.timing }}
                                                                        </td>
                                                                    </tr>
                                                                </ng-container>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button style="background-color: transparent;" class="submit-button"
                                                    mat-raised-button type="submit"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="spinner-container" *ngIf="loader">
        <div class="spinner-overlay" *ngIf="loader">
            <mat-progress-spinner *ngIf="loader" diameter="65" mode="indeterminate"
                strokeWidth="3"></mat-progress-spinner>
        </div>
    </div> -->