<app-header-navbar></app-header-navbar>
<div class="container-fluid dashboard-container">
  <div class="row">
    <div class="col-12 col-lg-2">
      <app-side-navbar></app-side-navbar>
    </div>
    <div class="col-12 col-lg-10">
      <div class="row mt-4">
        <div class="chart-main-container" style="margin-top: 5px;">
          <div class="row">
            <div class="col-12 col-lg-3">
              <div class="chart-card" style="height: 22vh;">
              </div>
            </div>
            <div class="col-12 col-lg-3">
              <div class="chart-card" style="height: 22vh;">
              </div>
            </div>
            <div class="col-12 col-lg-3">
              <div class="chart-card" style="height: 22vh;">
              </div>
            </div>
            <div class="col-12 col-lg-3">
              <div class="chart-card" style="height: 22vh;">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="chart-main-container" style="margin-top: 5px;">
          <div class="row">
            <div class="col-12 col-lg-4">
              <div class="chart-card">
                <div style="position: relative;">
                  <div id="barChart"></div>
                  <mat-form-field class="custom-session-select position-absolute" style="top: 15px; right: 10px;">
                    <mat-select [(ngModel)]="selectedSession" (selectionChange)="filterSession($event.value)">
                      <mat-option *ngFor="let session of allSession" [value]="session">{{session}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="chart-card">
                <div class="position-relative">
                  <div id="pieChart"></div>
                  <!-- <mat-form-field class="custom-session-select position-absolute" style="top: 15px; right: 10px;">
                    <mat-select [(ngModel)]="selectedSession" (selectionChange)="filterSession($event.value)">
                      <mat-option *ngFor="let session of allSession" [value]="session">{{session}}</mat-option>
                    </mat-select>
                  </mat-form-field> -->
                </div>
              </div>
            </div>

            <div class="col-12 col-lg-4">
              <div class="chart-card">
                <div style="position: relative;">
                  <div id="lineChart"></div>
                  <!-- <mat-form-field class="custom-session-select position-absolute" style="top: 15px; right: 10px;">
                    <mat-select [(ngModel)]="selectedSession" (selectionChange)="filterSession($event.value)">
                      <mat-option *ngFor="let session of allSession" [value]="session">{{session}}</mat-option>
                    </mat-select>
                  </mat-form-field> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>