<app-header-navbar></app-header-navbar>
<div class="container-fluid dashboard-container">
  <div class="row">
    <div class="col-12 col-lg-2">
      <app-side-navbar></app-side-navbar>
    </div>
    <div class="col-12 col-lg-10">
      <div class="row mt-4">
        <div class="chart-main-container" style="margin-top: 5px;">
          <div class="row">
            <div class="col-12 col-lg-3">
              <div class="chart-card" style="height: 22vh;">
              </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="chart-card" style="height: 22vh;">
                </div>
            </div>
            <div class="col-12 col-lg-3">
              <div class="chart-card" style="height: 22vh;">
              </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="chart-card" style="height: 22vh;">
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="chart-main-container" style="margin-top: 5px;">
          <div class="row">
            <div class="col-12 col-lg-4">
              <div class="chart-card">
                <div id="barChart"></div>
              </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="chart-card">
                  <div id="pieChart"></div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="chart-card">
                <div id="lineChart"></div>
              </div>
            </div>
          </div>
        </div>
      </div>