<app-header-navbar></app-header-navbar>
<div class="container-fluid dashboard-container">
    <div class="row">
        <div class="col-12 col-lg-2">
            <app-side-navbar></app-side-navbar>
        </div>
        <div class="col-12 col-lg-10">
            <div class="row">

                <div class="col-12 main-container">
                    <div class="row big-option-container">
                        <div class="desktop-option">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12">
                                        <button mat-button class="menu-button">
                                            <span>Marksheet > Template > {{cls | classSuffix}}<span
                                                    *ngIf="cls==11 || cls==12">(
                                                    {{stream}} )</span></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mobile-option">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12">

                                        <button mat-button class="menu-button" style="display: block;">
                                            <span>Marksheet > Template ></span>
                                        </button>
                                        <button mat-button class="menu-button">
                                            <span>{{cls | classSuffix}}<span *ngIf="cls==11 || cls==12">(
                                                    {{stream}} )</span></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>






                <div class="main-container">
                    <div class="col-12 col-lg-12 big-container">
                        <div class="main-card">
                            <ng-container *ngIf="!marksheetSelectMode">
                                <div class="col-12 col-lg-12 mt-5">
                                    <div class="marksheet-detail-card">
                                        <div class="table-wrapper">
                                            <table class="table table-hover align-middle mt-2 mb-1 bg-white">
                                                <thead class="bg-light">
                                                    <tr class="text-muted">
                                                        <th>S.No.</th>
                                                        <th>Template Name</th>
                                                        <th>Class</th>
                                                        <th>Stream</th>
                                                        <th>Remove</th>
                                                    </tr>
                                                </thead>
                                                <tbody *ngIf="marksheetTemplate">
                                                    <tr>
                                                        <td>
                                                            <p class="mb-0">{{1}}</p>
                                                        </td>
                                                        <td>
                                                            <p class="mb-0">{{marksheetTemplate.templateName |
                                                                titlecase}}</p>
                                                        </td>
                                                        <td>
                                                            <p class="mb-0">{{marksheetTemplate.class |
                                                                classSuffix}}</p>
                                                        </td>
                                                        <td>
                                                            <p class="mb-0">{{marksheetTemplate.stream}}</p>
                                                        </td>
                                                        <td class="mb-0">
                                                            <mat-icon
                                                                (click)="deleteMarksheetTemplateModel(marksheetTemplate._id)">delete</mat-icon>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-8 offset-lg-2 mt-2 mb-5">
                                    <div class="selected-template-card" matRipple>
                                        <img src="{{marksheetTemplate.templateUrl}}"
                                            alt="">
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="marksheetSelectMode">
                                <div class="col-12 mt-5">
                                    <div class="owl-carousel template-carousel">
                                        <div class="template-card" matRipple>
                                            <h6 style="font-size: 12px;font-weight: bold;">Template - T1</h6>
                                            <img src="https://res.cloudinary.com/dzzrracge/image/upload/v1733573664/T1_bqzgw1.jpg" alt="">
                                            <div class="row">
                                                <div class="col-8 offset-2"><button class="submit-button"
                                                        (click)="addExamResultModel('T1','https://res.cloudinary.com/dzzrracge/image/upload/v1733573664/T1_bqzgw1.jpg')"
                                                        mat-raised-button>&nbsp;&nbsp;&nbsp;Select&nbsp;&nbsp;&nbsp;</button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="template-card" matRipple>
                                            <h6 style="font-size: 12px;font-weight: bold;">Template - T2</h6>
                                            <img src="https://res.cloudinary.com/dzzrracge/image/upload/v1733573792/T2_gqvlzs.jpg" alt="">
                                            <div class="row">
                                                <div class="col-8 offset-2"><button class="submit-button"
                                                        (click)="addExamResultModel('T2','https://res.cloudinary.com/dzzrracge/image/upload/v1733573792/T2_gqvlzs.jpg')"
                                                        mat-raised-button>&nbsp;&nbsp;&nbsp;Select&nbsp;&nbsp;&nbsp;</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="template-card" matRipple>
                                            <h6 style="font-size: 12px;font-weight: bold;">Template - T3</h6>
                                            <img src="https://res.cloudinary.com/dzzrracge/image/upload/v1733573816/T3_ckic7f.jpg" alt="">
                                            <div class="row">
                                                <div class="col-8 offset-2"><button class="submit-button"
                                                        (click)="addExamResultModel('T3','https://res.cloudinary.com/dzzrracge/image/upload/v1733573816/T3_ckic7f.jpg')"
                                                        mat-raised-button>&nbsp;&nbsp;&nbsp;Select&nbsp;&nbsp;&nbsp;</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="template-card" matRipple>
                                            <h6 style="font-size: 12px;font-weight: bold;">Template - T4</h6>
                                            <img src="https://res.cloudinary.com/dzzrracge/image/upload/v1733573842/T4_ggp7wb.jpg" alt="">
                                            <div class="row">
                                                <div class="col-8 offset-2"><button class="submit-button"
                                                        (click)="addExamResultModel('T4','https://res.cloudinary.com/dzzrracge/image/upload/v1733573842/T4_ggp7wb.jpg')"
                                                        mat-raised-button>&nbsp;&nbsp;&nbsp;Select&nbsp;&nbsp;&nbsp;</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="template-card" matRipple>
                                            <h6 style="font-size: 12px;font-weight: bold;">Template - T5</h6>
                                            <img src="https://res.cloudinary.com/dzzrracge/image/upload/v1733573869/T5_jolapq.jpg" alt="">
                                            <div class="row">
                                                <div class="col-8 offset-2"><button class="submit-button"
                                                        (click)="addExamResultModel('T5','https://res.cloudinary.com/dzzrracge/image/upload/v1733573869/T5_jolapq.jpg')"
                                                        mat-raised-button>&nbsp;&nbsp;&nbsp;Select&nbsp;&nbsp;&nbsp;</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="template-card" matRipple>
                                            <h6 style="font-size: 12px;font-weight: bold;">Template - T6</h6>
                                            <img src="https://res.cloudinary.com/dzzrracge/image/upload/v1733573893/T6_q5f8qh.jpg" alt="">
                                            <div class="row">
                                                <div class="col-8 offset-2"><button class="submit-button"
                                                        (click)="addExamResultModel('T6','https://res.cloudinary.com/dzzrracge/image/upload/v1733573893/T6_q5f8qh.jpg')"
                                                        mat-raised-button>&nbsp;&nbsp;&nbsp;Select&nbsp;&nbsp;&nbsp;</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="template-card" matRipple>
                                            <h6 style="font-size: 12px;font-weight: bold;">Template - T7</h6>
                                            <img src="https://res.cloudinary.com/dzzrracge/image/upload/v1733573917/T7_bistg7.jpg" alt="">
                                            <div class="row">
                                                <div class="col-8 offset-2"><button class="submit-button"
                                                        (click)="addExamResultModel('T7','https://res.cloudinary.com/dzzrracge/image/upload/v1733573917/T7_bistg7.jpg')"
                                                        mat-raised-button>&nbsp;&nbsp;&nbsp;Select&nbsp;&nbsp;&nbsp;</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="template-card" matRipple>
                                            <h6 style="font-size: 12px;font-weight: bold;">Template - T8</h6>
                                            <img src="https://res.cloudinary.com/dzzrracge/image/upload/v1733573944/T8_p1ukhf.jpg" alt="">
                                            <div class="row">
                                                <div class="col-8 offset-2"><button class="submit-button"
                                                        (click)="addExamResultModel('T8','https://res.cloudinary.com/dzzrracge/image/upload/v1733573944/T8_p1ukhf.jpg')"
                                                        mat-raised-button>&nbsp;&nbsp;&nbsp;Select&nbsp;&nbsp;&nbsp;</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                            <div class="modal fade show" [class.show]="showModal">
                                <div class="modal-dialog modal-dialog-scrollable">
                                    <div class="modal-content" *ngIf="successMsg">
                                        <div class="modal-header">
                                            <h5 class="modal-title" style="color: transparent;">&nbsp;</h5>
                                        </div>
                                        <div class="modal-body">
                                            <p class="success-message">{{successMsg}}</p>
                                        </div>
                                        <div class="modal-footer">
                                            <mat-icon></mat-icon>
                                        </div>
                                    </div>
                                    <div class="modal-content" *ngIf="!successMsg">
                                        <div class="modal-header">
                                            <h5 class="modal-title">{{updateMode?'UPDATE': deleteMode ? 'DELETE'
                                                :'SET'}} MARKSHEET FORMATE</h5>
                                            <mat-icon matRipple (click)="closeModal()"
                                                style="cursor: pointer;">close</mat-icon>
                                        </div>
                                        <ng-container>
                                            <form [formGroup]="examResultForm" (ngSubmit)="examResultAddUpdate()">
                                                <div class="modal-body">
                                                    <div *ngIf="errorCheck">
                                                        <p class="error-message">{{errorMsg}}</p>
                                                    </div>
                                                    <div class="container-fluid" *ngIf="!deleteMode">
                                                        <div class="row">
                                                            <h6 style="font-size: 12px;font-weight: 500;">
                                                                {{selectedTemplate}} For {{cls | classSuffix |
                                                                lowercase}}
                                                                <span *ngIf="cls==11 || cls==12">{{stream}}</span>
                                                            </h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer" *ngIf="!deleteMode">
                                                    <button class="submit-button" mat-raised-button
                                                        type="submit">Set</button>
                                                </div>

                                            </form>
                                        </ng-container>
                                        <div *ngIf="deleteMode">
                                            <div class="modal-body">
                                                <ng-container>
                                                    <h3
                                                        style="color: #000;font-size: 16px;letter-spacing: normal;margin-left: 20px;">
                                                        Note :
                                                        As
                                                        soon as the marksheet template for the {{cls |
                                                        classSuffix}} <span *ngIf="cls==11 || cls==12">{{stream
                                                            |lowercase}}</span>
                                                        is
                                                        deleted, the exam result for all the students will be
                                                        automatically deleted.</h3>
                                                </ng-container>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="delete-button" mat-raised-button type="button"
                                                    (click)="marksheetTemplateDelete(deleteById)">Ok</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="spinner-container" *ngIf="loader">
            <div class="spinner-overlay" *ngIf="loader">
                <mat-progress-spinner *ngIf="loader" diameter="65" mode="indeterminate"
                    strokeWidth="3"></mat-progress-spinner>
            </div>
        </div> -->