<app-header></app-header>
<div class="page">
    <div class="banner">
        <div class="container-fluid">
            <div class="col-12 offset-0 col-lg-6 offset-lg-3">
                <h2>Features</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid policy-container">
        <div class="row">
            <div class="col-12 col-lg-10 offset-lg-1 title">
                <h3>Features to Meet School Needs</h3>
                <p style="text-align: center;">Perfect features designed to fulfill every critical school management
                    need, at the lowest price.</p>
            </div>

            <div class="col-12 col-lg-10 offset-lg-1 service-card-container mt-5">
                <div class="row">
                    <div class="col-12 col-lg-4 offset-lg-0">
                        <div class="service-card">
                            <div class="row">
                                <div class="col-1 col-lg-1"><img src="../../../../assets/features-image/student.png" alt="">
                                </div>
                                <div class="col-11 col-lg-11">
                                    <h3>Student Management</h3>
                                </div>
                            </div>
                            <p>Streamline student management with our simple and effective modules</p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 offset-lg-0">
                        <div class="service-card">
                            <div class="row">
                                <div class="col-1 col-lg-1"><img src="../../../../assets/features-image/student.png" alt="">
                                </div>
                                <div class="col-11 col-lg-11">
                                    <h3>Admission Management</h3>
                                </div>
                            </div>
                            <p>Simplify your admissions with our intuitive and efficient tools</p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 offset-lg-0">
                        <div class="service-card">
                            <div class="row">
                                <div class="col-1 col-lg-1"><img src="../../../../assets/features-image/student.png" alt="">
                                </div>
                                <div class="col-11 col-lg-11">
                                    <h3>Fees Management</h3>
                                </div>
                            </div>
                            <p>Easily manage and track fees with our user-friendly modules</p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 offset-lg-0">
                        <div class="service-card">
                            <div class="row">
                                <div class="col-1 col-lg-1"><img src="../../../../assets/features-image/student.png" alt="">
                                </div>
                                <div class="col-11 col-lg-11">
                                    <h3>Admit Card Management</h3>
                                </div>
                            </div>
                            <p>Generate admit cards easily with our management solutions
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 offset-lg-0">
                        <div class="service-card">
                            <div class="row">
                                <div class="col-1 col-lg-1"><img src="../../../../assets/features-image/student.png" alt="">
                                </div>
                                <div class="col-11 col-lg-11">
                                    <h3>Marksheet Management</h3>
                                </div>
                            </div>
                            <p>Manage and generate marksheets with just a click using our easy-to-use modules
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 offset-lg-0">
                        <div class="service-card">
                            <div class="row">
                                <div class="col-1 col-lg-1"><img src="../../../../assets/features-image/student.png" alt="">
                                </div>
                                <div class="col-11 col-lg-11">
                                    <h3>T C Management</h3>
                                </div>
                            </div>
                            <p>Easily manage and issue T C or transfer certificates with just a click using
                                our simplify modules</p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 offset-lg-0">
                        <div class="service-card">
                            <div class="row">
                                <div class="col-1 col-lg-1"><img src="../../../../assets/features-image/student.png" alt="">
                                </div>
                                <div class="col-11 col-lg-11">
                                    <h3>Subject Management</h3>
                                </div>
                            </div>
                            <p>Simplify subject management and planning with intuitive modules
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 offset-lg-0">
                        <div class="service-card">
                            <div class="row">
                                <div class="col-1 col-lg-1"><img src="../../../../assets/features-image/student.png" alt="">
                                </div>
                                <div class="col-11 col-lg-11">
                                    <h3>Class Subject Management</h3>
                                </div>
                            </div>
                            <p>Organize class subject groups with ease using our straightforward tools</p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 offset-lg-0">
                        <div class="service-card">
                            <div class="row">
                                <div class="col-1 col-lg-1"><img src="../../../../assets/features-image/student.png" alt="">
                                </div>
                                <div class="col-11 col-lg-11">
                                    <h3>Saff Access Management</h3>
                                </div>
                            </div>
                            <p>Manage staff application access efficiently using our simple solutions</p>
                        </div>
                    </div>
                </div>
            </div>






















































            <!-- <div class="row">
                <div class="col-12 col-lg-6 heading-container">
                    <div class="row">
                        <div class="col-12 col-lg-6 img-container-left">
                            <img src="../../../../assets/features-image/student.png" alt="">
                        </div>
                        <div class="col-12 col-lg-10">
                            <h3>Admission Management</h3>
                            <p>Simplify your admissions process with our intuitive and efficient tools. Our system
                                is designed to make every step of admissions easy and stress-free. From application
                                submission to final enrollment, our tools streamline the entire process, ensuring
                                accuracy and saving you time. With user-friendly interfaces and smart features, you
                                can manage admissions smoothly, reducing manual work and errors. Focus on selecting
                                the best candidates while our tools handle the rest. Experience a hassle-free
                                admissions process with a solution that combines simplicity and efficiency.</p>
                        </div>
                        <div class="col-0 col-lg-2"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 img-container-left">
                    <img src="../../../../assets/features-image/student.jpg" alt="" height="200vh">
                </div>
                <div class="col-12 col-lg-6 heading-container">
                    <div class="row">
                        <div class="col-12 col-lg-10">
                            <h3>Fees Management</h3>
                            <p>Easily manage and track fees with our user-friendly modules. Our system simplifies
                                the entire fee management process, from invoicing to payment tracking. With
                                intuitive interfaces, you can quickly generate reports, monitor payments, all with
                                just a few clicks. Our modules ensure accuracy and reduce the
                                chances of errors, making financial management smoother and more efficient. Say
                                goodbye to manual tracking and complex spreadsheets—our solution offers everything
                                you need to handle fees effortlessly, saving you time and ensuring complete
                                transparency. Streamline your fee management with a system that's both powerful and
                                easy to use.</p>
                        </div>
                        <div class="col-0 col-lg-2"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 heading-container">
                    <div class="row">
                        <div class="col-12 col-lg-10">
                            <h3>Admit Card Management</h3>
                            <p>Generate admit cards easily with our management solutions. With just a single click,
                                you can create and print admit cards in bulk. Simply select a class, and our system
                                generates admit cards for the entire class at once. Our tools make the process quick
                                and hassle-free, saving you time and effort. Enjoy a simple, efficient way to handle
                                admit cards, ensuring everything is ready when you nee.</p>
                        </div>
                        <div class="col-0 col-lg-2"></div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 img-container-right">
                    <img src="../../../../assets/features-image/feature-image-2.png" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 img-container-left">
                    <img src="../../../../assets/features-image/feature-image-2.png" alt="">
                </div>
                <div class="col-12 col-lg-6 heading-container">
                    <div class="row">
                        <div class="col-12 col-lg-10">
                            <h3>Marksheet Management</h3>
                            <p>Manage and generate marksheets with just a click using our easy-to-use modules.
                                Select from multiple templates and add results quickly without manually creating the
                                structure. Simply choose your template, enter the results, and select the class—our
                                system generates marksheets for the entire class instantly. Everything is done with
                                just a few clicks, saving you time and making the process simple and efficient.</p>
                        </div>
                        <div class="col-0 col-lg-2"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 heading-container">
                    <div class="row">
                        <div class="col-12 col-lg-10">
                            <h3>T C Or Transfer Certificates Management</h3>
                            <p>Generate Transfer Certificates (TC) with a single click using our efficient
                                management system. No need for manual entries—just select the student, and our
                                system automatically fills in the required details and generates the TC instantly.
                                Whether you need one or many, the process is quick and hassle-free. Save time and
                                ensure accuracy with a tool designed to make TC management easy and efficient.</p>
                        </div>
                        <div class="col-0 col-lg-2"></div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 img-container-right">
                    <img src="../../../../assets/features-image/feature-image-2.png" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 img-container-left">
                    <img src="../../../../assets/features-image/feature-image-2.png" alt="">
                </div>
                <div class="col-12 col-lg-6 heading-container">
                    <div class="row">
                        <div class="col-12 col-lg-10">
                            <h3>Subject Management</h3>
                            <p>Efficiently manage subjects by assigning them to admit cards, marksheets, and other
                                requirements. Our system allows you to easily create and link subjects, ensuring
                                they are correctly included in all necessary documents. Whether updating admit
                                cards, generating marksheets, or handling other requirements, you can seamlessly
                                integrate subjects into your management process. This streamlines your
                                administrative tasks and ensures accuracy across all documentation, making subject
                                management simple and effective.</p>
                        </div>
                        <div class="col-0 col-lg-2"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 heading-container">
                    <div class="row">
                        <div class="col-12 col-lg-10">
                            <h3>Class Subject Management</h3>
                            <p>Organize class subject groups with ease using our straightforward tools. Simply
                                select the class and assign subject groups to admit cards, marksheets, and other
                                tasks effortlessly. Our system simplifies managing and updating subject information
                                for each class, ensuring everything is accurately reflected in all relevant
                                documents. With user-friendly features, you can handle assignments and tasks quickly
                                and efficiently, saving time and reducing administrative hassle.</p>
                        </div>
                        <div class="col-0 col-lg-2"></div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 img-container-right">
                    <img src="../../../../assets/features-image/feature-image-2.png" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 img-container-left">
                    <img src="../../../../assets/features-image/feature-image-2.png" alt="">
                </div>
                <div class="col-12 col-lg-6 heading-container">
                    <div class="row">
                        <div class="col-12 col-lg-10">
                            <h3>Saff Access Management</h3>
                            <p>Manage staff application access efficiently with our simple solutions. Assign
                                permissions for various management tasks, so each staff member can handle their
                                specific duties without requiring admin or school owner involvement. Our system
                                ensures that staff have the appropriate access to perform their roles effectively,
                                streamlining operations and reducing the need for direct oversight. This approach
                                helps distribute tasks and responsibilities seamlessly, making overall management
                                smoother and more efficient.</p>
                        </div>
                        <div class="col-0 col-lg-2"></div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <app-footer></app-footer>
</div>