<app-header-nav></app-header-nav>
<div class="container-fluid dashboard-container">
  <div class="row">
    <div class="col-12 col-lg-2">
      <app-side-nav></app-side-nav>
    </div>
    <div class="col-12 col-lg-10">
      <div class="row mt-4">
        <div class="chart-main-container">
          <div class="row">
            <div class="col-12 col-lg-3">
              <div class="listing-card"
                style="height: 19vh;border-radius: 10px;background: linear-gradient(to right,#23a8a1e3,#99eaf3e4);cursor: pointer;">
                <h3 style="color: #fff;font-size: 20px;font-weight: 600;text-align: center;margin-top: 8%;">Students
                </h3>
                <h3 style="color: #fff;font-size: 20px;font-weight: 600;text-align: center;">{{studentCountInfo}}</h3>
              </div>
            </div>
            <div class="col-12 col-lg-3">
              <div class="listing-card"
                style="height: 19vh;border-radius: 10px;background: linear-gradient(to right,#7f4ae8d7,#aaa6ffe0);cursor: pointer;">
                <h3 style="color: #fff;font-size: 20px;font-weight: 600;text-align: center;margin-top: 8%;">Teachers
                </h3>
                <h3 style="color: #fff;font-size: 20px;font-weight: 600;text-align: center;">{{teacherCountInfo}}</h3>
              </div>
            </div>
            <div class="col-12 col-lg-3">
              <div class="listing-card"
                style="height: 19vh;border-radius: 10px;background: linear-gradient(to right,#b0b527e1,#e5f092de);cursor: pointer;">
                <h3 style="color: #fff;font-size: 20px;font-weight: 600;text-align: center;margin-top:8%;">
                  Marksheets</h3>
                <h3 style="color: #fff;font-size: 20px;font-weight: 600;text-align: center;">{{markshhetCountInfo}}</h3>
              </div>
            </div>
            <div class="col-12 col-lg-3">
              <div class="listing-card"
                style="height: 19vh;border-radius: 10px;background: linear-gradient(to right,#c77f2ddf,#f3bd99e1);cursor: pointer;">
                <h3 style="color: #fff;font-size: 20px;font-weight: 600;text-align: center;margin-top:8%;"> Transfer
                  Certificates</h3>
                <h3 style="color: #fff;font-size: 20px;font-weight: 600;text-align: center;">
                  {{transferCertificateCountInfo}}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>